﻿body {margin: 0; min-width: 1023px;}

header { background: url("../image/1-background.jpg"); }
.paranja {background: rgba(42,46,82,0.95);}
.wrap {width: 1170px; margin: auto;}

.top {height: 100px; line-height: 100px;}

.logo {width: 189px; height: 24px; margin: auto 0; background: url("../image/logo.png"); }
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ul {list-style-type: none; margin: 0; padding: 0;}
button {outline: 0; border: none; cursor: pointer;}
p, h5, h6 {margin: 0;}

.logo {display: inline-block; vertical-align: middle; }


nav {
    padding: 0;
    float: right;
    vertical-align: middle;
    color: #fff;
    font-family: bold Raleway, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
nav > a {position: relative; padding: 5px 25px 20px;}
nav > a:hover {color: black;}

/*Banner*/
.banner { width: 100%;}

.description { width: 926px; margin: 0 auto; text-align: center; white-space: normal; vertical-align: top; padding: 140px 0; color: #fff;}
.description h1 {display: inline-block; font: bold 50px Open Sans, sans-serif; text-transform: uppercase; -letter-spacing: -1px; margin: 0;}
.description p {font: 20px Raleway, sans-serif; margin: 40px 0 80px; padding-left: 5px;}
button {background-color: #e84545; width: 200px; height: 48px; border-radius: 2px; color: inherit; font: 700 12px Raleway, sans-serif; text-transform: uppercase;}
button:hover, .download #btn:hover {background-color: #704545; border: 1px solid black;}

/*Feature*/
.basic .wrap {text-align: justify; padding: 80px 0 86px;}
.feature {
    display: inline-block;
    width: 290px;
    vertical-align: top;
    text-align: center;
    margin: 40px 45px;
}

.basic .wrap::after {content: ""; display : inline-block; width: 50%;}
/*пустой псевдоэлемент after для того, чтобы к последней видимой строке применялось правило text-align: justify;
Блок team и basis. Это правило не применяется к последней строке, которой и является этот доп.пустой блок*/
.basic h3 {margin: 34px auto 28px; font: bold 14px Raleway, sans-serif; text-transform: uppercase; color: #2d3033}
.feature p { color: #a7aaaf; font: 14px Raleway, sans-serif;}

.sprite {
    background-image: url(../image/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;  /*для равнения по вертикали*/
}

.sprite-f1 {
    width: 60px;
    height: 60px;
    background-position: -5px -5px;
}

.sprite-f2 {
    width: 73px;
    height: 60px;
    background-position: -75px -5px;
}

.sprite-f3 {
    width: 41px;
    height: 60px;
    background-position: -158px -5px;
}

.sprite-f4 {
    width: 56px;
    height: 60px;
    background-position: -209px -5px;
}

.sprite-f5 {
    width: 72px;
    height: 60px;
    background-position: -275px -5px;
}

.sprite-f6 {
    width: 79px;
    height: 60px;
    background-position: -357px -5px;
}

.sprite-icon-facebook {
    width: 8px;
    height: 18px;
    background-position: -446px -5px;
}

.sprite-icon-in {
    width: 16px;
    height: 16px;
    background-position: -464px -5px;
}

.sprite-icon-tweeter {
    width: 20px;
    height: 14px;
    background-position: -490px -5px;
}

.sprite-social_icon_facebook {
    width: 8px;
    height: 18px;
    background-position: -520px -5px;
}

.sprite-social_icon_in {
    width: 16px;
    height: 16px;
    background-position: -538px -5px;
}

.sprite-social_icon_tweeter {
    width: 20px;
    height: 14px;
    background-position: -564px -5px;
}

/*Works*/
.works { font-size: 0;}
.works a {
    display: inline-block;
    width: 25%; height: 350px; outline: 1px solid white;
    position: relative;
}
.works img {width: 100%; height: 100%; position: relative; z-index: -1; cursor: help; }

.works p {
    display: none;
    position: absolute;
    font: 14px Raleway, sans-serif;
    text-align: center;
    color: white;
    line-height: 1.8;
    -margin: auto;  /*не срабатывает в случае позиционированного элемента*/
    width: 150px; height: 44px;
    left: calc(50% - 75px);
    top: calc(50% - 22px);
}
.works p span:first-child {font-weight: bold; text-transform: uppercase;}
.works a:hover p {display: block;}
.works a:hover {background: rgba(210,63,63,.95);}

/*Team*/
.team .wrap {
    padding: 100px 0 132px;
    font-size: 0;   /*чтобы убрать пробел у inline-block*/
    text-align: justify;
}
.member {
    display: inline-block;
    width: 270px;
    vertical-align: top;
    text-align: left;
}
.team .wrap::after {content: ""; display : inline-block; width: 50%;}
/*пустой псевдоэлемент after для того, чтобы к последней видимой строке применялось правило text-align: justify;
Блок team и basis. Это правило не применяется к последней строке, которой и является этот доп.пустой блок*/
.team h4 {margin: 35px 0 20px; font: 18px Raleway, sans-serif; color: #3e3b41;}
.team h5 {margin-bottom: 30px; font: 13px Raleway, sans-serif; text-transform: uppercase; color: #e84545;}
.team .descr {margin-bottom: 32px; font: 14px Raleway, sans-serif; color: #737577;}
.social_items {font-size: 14px;}
.social_items a {
    display: inline-block;
    width: 38px; height: 38px;
    vertical-align: text-bottom;
    text-align: center;
    line-height: 38px;
    border: 1px solid #e8ecee;
}
.social_items a:hover {outline: 2px dashed black;}

/*Download*/
* {
    box-sizing: border-box;
}

section{
    display: block;
}

a {
    text-decoration: none;
}

.section {
    padding: 100px 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container:before{
    display: table;
    content: " ";
}

.container:after{
    display: table;
    content: " ";
    clear:both;
}

.text-center{
    text-align: center;
}

.col-md-8 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.download h3 {
    margin-top: 0;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
}

.download p {
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0 0 10px;
}

.download #btn {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
}
.download #btn:hover {background-color: #704545; border: 1px solid #fff;}

/*Footer*/
footer {
    background-color: #3a3e64;
    color: white;
}
footer .wrap {vertical-align: top;}
.location, .social_net, .about {
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: top;
    margin: 72px 0 100px;
}
footer h6 {margin-bottom: 24px; font: bold 14px Raleway, sans serif; text-transform: uppercase;}
footer div p {font: 14px Raleway, sans-serif; color: #9d9fb2; word-wrap: break-word;}
.social_net a {display: inline-block; height: 40px; width: 40px;  vertical-align: middle; line-height: 40px;}
.social_net a:hover {outline: 1px solid white;}


/*Bottom*/
.bottom { background-color: #313454; color: white; font-size: 14px;}
.bottom .wrap {text-align: center; line-height: 94px;}
.bottom p {color: #666771; font: 14px Raleway, sans-serif; margin: auto; display: inline-block; width: 350px; text-align: center; vertical-align: middle;}
.bottom span {color: white; font-family: Open Sans;}
.bottom span:first-child {color: #EB4545; font-size: 14px; font-family: 'Comic Sans MS';}